{% extends 'base.html.twig' %}

{% block title %}Retaurar Contraseña{% endblock %}

{% block body %}

<section class="section">
    <div class="container">
        <h1 class="title">
            Restaurar Contraseña
        </h1>
        <p class="subtitle">
            Introduzca su email y si está registrado en esta aplicación, recibirá un link para reactivar su cuenta.
        </p>
    </div>
</section>
<div class="container is-fluid">

    {{ form_start(requestForm) }}
    
    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <!--<input class="input needs-validation inputUsername is-danger" type="email"  name="username" id="inputUsername" placeholder="Email input" value="">-->
            {{ form_widget(requestForm.email, {'attr': {'class': 'input needs-validation reset_password_request_form_email is-danger'} }) }}
            <span class="icon is-small is-left">
                <i id="emailCheckIconLeft" class="fas fa-envelope"></i>
            </span>
            <span id="emailCheckIconRight" class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
        </div>
        <p class="help is-danger" id="emailActionHint">This email is invalid</p>
    </div>
    <!--Submit button-->
    <div class="field is-grouped">
        <div class="control">
            <button id="submitButton" class="button is-link">Enviar</button>
        </div>
    </div>
    {{ form_end(requestForm) }}
</div>
<!--
<section class="container px-4 mt-5 mb-5">
    <div class="row gx-5">
                
        <form method="post">   
        
            <div class="mb-3">
                <label for="inputUsername" class="form-label">Email</label>                
                        
                <small>
                    
                </small>
            <div>
            <button class="btn btn-primary">Enviar email</button>
        </form>
        -->
    
{% endblock %}
