{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<section class="container px-4 mt-5 mb-5">
    <div class="row gx-5">
        <h1 class="h3 mb-3 font-weight-normal">Restaurar contrase침a</h1>
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <form method="post">   
        {{ form_start(requestForm) }}
            <div class="mb-3">
                <label for="inputUsername" class="form-label">Email</label>                
                {{ form_widget(requestForm.email, {'attr': {'class': 'form-control'}}) }}        
                <small>
                    Introduzca su email y si est치 registrado en esta aplicaci칩n, 
                    recibir치 un link para reactivar su cuenta.
                </small>
            <div>
            <button class="btn btn-primary">Enviar email</button>
        </form>
    {{ form_end(requestForm) }}
{% endblock %}
