{% extends 'base.html.twig' %}

{% block title %}Introduce una nueva contraseña{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">
            Introduce una nueva contraseña
        </h1>
        <p class="subtitle"></p>
    </div>
</section>
<div class="container is-fluid">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}        
        <button class="btn btn-primary">Resetear password</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
