{% extends 'base.html.twig' %}

{% block title %}ComparteCoche::Perfil{% endblock %}

{% block body %}

<div class="container is-fluid">
    <article class="tile is-child notification is-success">
        <div class="content">
            <div class="avatars">
                <div class="avatar">
                    <img src="/images/avatars/{{ avatar1 }}">
                </div>
                <div class="avatar">
                    <img src="/images/avatars/{{ avatar2 }}">
                </div>
            </div>
        </div>
    </article>
</div>
              
{% endblock %}
