{% extends 'base.html.twig' %}

{% block title %}ComparteCoche{% endblock %}

{% block body %}
    <section class="container px-4 mt-5 mb-5">    
        <div class="row gx-5">
            {% if app.user %}
                {{ app.user.userIdentifier }}
                {{ grupo }}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-primary btn-ln" onclick="location.href='{{ path('app_newTime') }}'">
                                Nuevo Horario
                            </button>
                        </div>
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                    </div>
                    </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
