{% extends 'base.html.twig' %}

{% block title %}ComparteCoche{% endblock %}

{% block body %}
    <section class="container px-4 mt-5 mb-5">    
        <div class="row gx-5">
            {% if app.user %}
                {{ app.user.userIdentifier }}
                {{ grupo }}
                <div class="container">
                    <div class="row">
                        <div class="col">
                        {{ form(trayecto_form) }}
                        </div>
                    </div>
                    </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
