{% extends 'base.html.twig' %}

{% block body %}
    <h1>Página no encontrada</h1>

    <p>
        La página que busca no se encuentra o no tiene permisos suficientes para acceder a ella.
        Pulse en el enlace siguiente <a href="{{ path('homepage') }}"> para regresar a la página de inicio</a>.
    </p>
{% endblock %}